Click>=6.0
click-default-group>=1.2
contextlib2==0.6.0.post1
future>=0.16.0
inflection>=0.3
isodate>=0.6
lxml>=4.1
markdown>=2.6
Pillow>=5.0
python-redmine==2.2.1
regex>=2018.2
six>=1.11
tabulate>=0.8
textile>=3.0
