build==1.2.1
pep517==0.10.0
pip==20.3.4 # pyup: <21 # 21 drops Python 2.7 support
bumpversion==0.6.0
watchdog==0.10.4 # pyup: <1 # 1 drops Python 2.7 and 3.5 support
flake8==3.9.2
tox==3.23.1
tox-pyenv==1.1.0
coverage==5.5
Sphinx==3.2.0
cryptography==3.3.2 # pyup: <3.4 # 3.4 drops Python 2.7 support
PyYAML==5.4.1
